/*---Reset---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---Style commun---*/

.PageInterne {
	width: 96%;
	height: 2500px;
	margin: 2%;
	border: solid black 2px;
	border-radius: 10px;
}

.EnTete {
	width: 100%;
	border-bottom: solid black 1px;
	height: auto;
}
.EnTete h1 {
	margin: 3% 0 3% 0;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
}

.EnTete h2 {
	margin: 2% 0 2% 0;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

.nav {
	padding: 0;
	text-align: center; /* centrer le texte */
	border-bottom: solid black 1px;
}
.nav li {
	display: inline;
	list-style: none;
	border-left: solid black 1px;
}
.nav a {
	display:inline-block;
	padding: 10px 30px;
}
.nav li:nth-child(6) {
	border-right: solid black 1px;
}

.ConnexionPersonnel {
	border: solid black 1px;
	border-radius: 10px;
	width: 40%;
	margin: 4% 30%;
	text-align: center;
}

.ConnexionPersonnel h2{
	padding: 2%;
}
.ConnexionPersonnel .bouton{
	margin: 2%;
}



/*---Page Liste de métier---*/
.ListeMetier {
	border: solid black 1px;
	border-radius: 10px;
	width: 40%;
	margin: 4% 30%;
	text-align: center;
}

.ListeMetier h3{
	padding: 2%;
}

.ListeMetier li {
	margin-bottom: 1.5%;
}

/*---Page Liste des salariés---*/
.ListeSalaries {
	border: solid black 1px;
	border-radius: 10px;
	width: 40%;
	margin: 4% 30%;
	text-align: center;
}

.ListeSalaries h3{
	padding: 2%;
}

.ListeSalaries li {
	margin-bottom: 1.5%;
}

/*---Page ChoixSecretaire---*/
.ChoixSecretaire {
	border: solid black 1px;
	border-radius: 10px;
	width: 40%;
	margin: 4% 30%;
	text-align: center;
}

.ChoixSecretaire h3{
	padding: 2%;
}

.ChoixSecretaire li {
	margin-bottom: 1.5%;
}

/*---Page SecretaireFeuilleDePaie---*/
.EnTete h2 {
	margin-bottom: 0;
}

.EnTete h4 {
	margin: 1% 0 1% 0;
	font-size: 20px;
	text-align: center;
}

.RealisationFeuilleDePaie {
	border: solid black 1px;
	border-radius: 10px;
	width: 70%;
	margin: 4% 15%;
	text-align: center;
}

.NomSalarie {
	margin: 1.5% 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.PayeBoutonValider {
	margin-bottom: 1.5%;
}

/*---Page SecretaireFeuilleDePaieSalarie---*/
.FeuilleDePaieSalarie {
	border: solid black 1px;
	border-radius: 10px;
	width: 85%;
	margin: 4% 7.5%;
	text-align: center;
}

.FeuilleDePaieSalarie p {
	text-align: center;
}
#idSal, #remSal {
	margin-top: 1.5%;
	font-weight: bold;
}

.identitéSalarie {
	width: 90%;
	margin: 1% 5%;
	text-align: center;
	display: flex;
	flex-direction: column;
}
#nom,#prenom,#matricule,#adresse{
	padding: 2px 5px;
	border: solid black 1px;
	border-radius: 5px;
	margin-left:  4px;
}
.identitéSalariePartie1, .identitéSalariePartie2 {
	display : flex;
	margin: 1%;
	margin-left: 20%;
}
.identitéSalariePartie1 p:nth-child(3) {
	margin-left: 26.5%;
}
.identitéSalariePartie2 p:nth-child(3) {
	margin-left: 20%;
}

.remunerationSalarie {
	width: 90%;
	margin: 1% 5%;
	text-align: center;
	display: flex;
	flex-direction: column;
}
#nbHeure,#tauxHoraire,#prime,#total{
	padding: 2px 5px;
	border: solid black 1px;
	border-radius: 5px;
	margin-left:  4px;
}
.remunerationSalariePartie1, .remunerationSalariePartie2 {
	display : flex;
	margin: 1%;
	margin-left: 20%;
}
.remunerationSalariePartie1 p:nth-child(3) {
	margin-left: 18.4%;
}
.remunerationSalariePartie2 p:nth-child(3) {
	margin-left: 20%;
}
