/*---Page demandeConnexionAvantagesClients---*/
.demandeConnexionAvantagesClients {
  width: 70%;
  margin: auto;
  margin-top: 5%;

  text-align: center;
}

.demandeConnexionAvantagesClients p {
  font-size: 30px;
  font-weight: bold;

  color: #8b7212;
}

.demandeConnexionBoutonNon, .demandeConnexionBoutonSeConnecter {
  width: 200px;
  height: 300px;

  margin: 2.5%;
  margin-bottom: 0;

  font-weight: bold;
  font-size: 25px;

  background-color: #8b7212;
  color : white;

  border-radius: 10px;
}
.lienInscription p {
  margin-top: 10px;
  margin-left: 52%;
}

/*---Page ConnexionCompte ---*/
.lienRetour {
  font-size: 18px;
}

.demandeConnexion {
  width: 70%;
  margin: auto;
  margin-top: 5%;

  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.demandeConnexion p {
  font-size: 22px;
  font-weight: normal;
}

.demandeConnexion input {
  margin-bottom: 15px;
  margin-left: 5px;
}

.connexionCompteBoutonConnexion {
  margin : 3% 0;
  width: 30%;
  height: 35px;
  border-radius: 15px;
  background-color: #8b7212;
  color : white;
  font-size: 16px;
  font-weight: bold;
}

fieldset {
  color: #8b7212;
}



/*---Page AchatBillet---*/
.Billets {
  display: flex;
  justify-content: center;

  margin-top: 5%;
}


.billetUnJour {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.3) 0 0 10px;

  margin-right: 5%;
}

.billetUnJour_Titre {
  text-align: center;
  text-transform: uppercase;
  color: #8b7212;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 10px 0;
}
.billetUnJour_Titre h4 {
  margin: inherit;
}

.billetUnJour_TarifAdulte, .billetUnJour_TarifEnfant, .billetUnJour_TarifBebe {
  line-height: 1;
  padding: 15px 0;
  border-bottom: 1px solid #fff;

  background-color: #005365;

  color: #fff;
  text-align: center;
}

#billetUnJour_TarifAdulte, #billetUnJour_TarifEnfant, #billetUnJour_TarifBebe {
  font-size: 25px;
}

.billetUnJour_TarifAdulteDetail, .billetUnJour_TarifEnfantDetail {
  display: flex;

  justify-content: center;
}
.billetUnJour_TarifAdulteDetail p , .billetUnJour_TarifEnfantDetail p, .billetUnJour_TarifBebeGratuit p {
  margin: inherit;
}

.billetUnJour_AncienTarifAdulte, .billetUnJour_AncienTarifEnfant {
  font-size: 20px;
  text-decoration: line-through;
  font-weight: normal;

  margin-top: 2px;
}
.billetUnJour_NouveauTarifAdulte, .billetUnJour_NouveauTarifEnfant, .billetUnJour_TarifBebeGratuit {
  font-weight: bold;
  font-size: 30px;

  margin-left: 10px;
}

.billetUnJour_TarifBebeGratuit {
  margin: inherit;
}

.billetDeuxJour {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.3) 0 0 10px;

  margin-left: 2%;
}

.boutonValiderTicket {
  background-color: #005365;
}

.validerTicket {
  margin : 5% 10%;
  width: 80%;
  height: 35px;
  border-radius: 15px;
  background-color: #8b7212;
  color : white;
  font-size: 16px;
  font-weight: bold;
}

.billetUnJour_NonConnecteTarifAdulte, .billetUnJour_NonConnecteTarifEnfant {
  font-weight: bold;
  font-size: 30px;
}



/*---Page RedirectionBanque---*/
.Redirection {
  margin-left: 35%;
  margin-top: 8%;
}
.Redirection progress {
  margin-left: 80px;
}
.Redirection h6 {
  font-size: 20px;
}

/*---Page InscriptionClient---*/
.InscriptionClient {
  width: 70%;
  margin : 8% 15%;

  border: solid #8b7212 1px;
  border-radius: 10px;

  text-align: center;
}

.nomETprenomClient, .ageETvilleClient, .mailETtelClient {
  display: flex;
  flex-direction: row;

  margin: 2% 0;
}

.nomClient, .prenomClient, .ageClient, .villeClient, .mailClient, .telClient {
  display: flex;
  flex-direction: row;
}
.InscriptionClient p {
  margin: 0;
  color: #8b7212;
  font-weight: bold;
}
.nomClient, .ageClient, .mailClient {
  margin-left: 6%;
}
.prenomClient {
  margin-left: 30%;
}
.villeClient {
  margin-left: 44.8%;
}
.telClient {
  margin-left: 21.5%;
}

h4 {
  font-weight: bold;
  font-size: 25px;
  color: #8b7212;
}

.validerCompte {
  margin : 3% 35% 3% 35%;
  width: 30%;
  height: 35px;
  border-radius: 15px;
  background-color: #8b7212;
  color : white;
  font-size: 16px;
  font-weight: bold;
}
